body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-26xl: 45px;

  /* Colors */
  --color-powderblue: #9ddfeb;
  --color-skyblue: #78b9cd;
  --color-brown: #b9183f;
  --color-gainsboro: #d9d9d9;

  /* Border radiuses */
  --br-36xl: 55px;
}
