.m51lch-hc-2-ti-ln-bng-l-child {
  position: absolute;
  top: 80px;
  left: 3px;
  background-color: #5fb1c7;
  width: 430px;
  height: 677px;
  opacity: 0.9;
}
.frame-child,
.m51lch-hc-2-ti-ln-bng-l-item {
  position: absolute;
  top: 80px;
  left: -3px;
  background-color: var(--color-gainsboro);
  width: 436px;
  height: 83px;
}
.frame-child {
  top: 0;
  left: 0;
  width: 430px;
}
.sassistant {
  position: absolute;
  top: 0;
  left: -3px;
  display: inline-block;
  width: 433px;
  height: 259px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.frame-inner,
.frame-item {
  position: absolute;
  top: 33px;
  left: 398px;
  border-radius: 50%;
  background-color: var(--color-skyblue-100);
  width: 18px;
  height: 18px;
}
.frame-inner {
  left: 13px;
}
.rectangle-parent {
  position: absolute;
  top: 757px;
  left: 0;
  width: 430px;
  height: 83px;
  cursor: pointer;
  font-size: 70px;
  color: #10b6eb;
  font-family: var(--font-ingrid-darling);
}
.ti-ln-bng {
  position: absolute;
  top: 98px;
  left: 7px;
  font-size: 40px;
  color: #2f96a4;
  display: inline-block;
  width: 417px;
  height: 106px;
  -webkit-text-stroke: 1px #000;
}
.m51lch-hc-2-ti-ln-bng-l-inner {
  position: absolute;
  top: 299px;
  left: 31px;
  background-color: var(--color-gainsboro);
  border: 6px solid var(--color-cadetblue-100);
  box-sizing: border-box;
  width: 385px;
  height: 90px;
}
.bn-hy-dn {
  position: absolute;
  top: 332px;
  left: 75px;
  font-family: var(--font-jua);
  background: linear-gradient(180deg, #000, transparent 51.04%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 289px;
  height: 57px;
}
.ellipse-div,
.m51lch-hc-2-ti-ln-bng-l-child1,
.rectangle-div {
  position: absolute;
  top: 113px;
  left: 13px;
  border-radius: 50%;
  background-color: var(--color-skyblue-100);
  width: 18px;
  height: 18px;
}
.m51lch-hc-2-ti-ln-bng-l-child1,
.rectangle-div {
  left: 398px;
}
.rectangle-div {
  top: 470px;
  left: 148px;
  border-radius: 55px;
  background-color: var(--color-gainsboro);
  border: 6px solid var(--color-cadetblue-100);
  box-sizing: border-box;
  width: 145px;
  height: 72px;
}
.ti-ln {
  position: absolute;
  top: 491px;
  left: 172px;
  display: inline-block;
  width: 99px;
  height: 26px;
}
.frame-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #70c7d7;
  border: 3px solid #7481f7;
  box-sizing: border-box;
  width: 144px;
  height: 38px;
}
.quay-li {
  position: absolute;
  top: 5px;
  left: -44px;
  display: inline-block;
  width: 235px;
  height: 14px;
}
.rectangle-group {
  position: absolute;
  top: 665px;
  left: 146px;
  width: 144px;
  height: 38px;
  cursor: pointer;
  font-family: var(--font-tapestry);
}
.m51lch-hc-2-ti-ln-bng-l {
  position: relative;
  width: 100%;
  height: 940px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-dodgerblue);
  font-family: var(--font-montserrat);
  width: 410px;
  margin: 50px auto;
}
