body {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
}

/* HEADER */

#header{
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    position: absolute;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}



#page-logo a{
    /* background-color: purple; */
    padding: 10px;
    color: rgb(245, 243, 160);
    font-size: 3.4rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Oleo Script";
    text-shadow: 1px 1px 2px black;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 70%;
    display: flex;
    width: 100%;
}

nav ul a{
    text-decoration: none;
    color: rgb(255, 251, 0);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul a:hover{
    background-color: rgb(255, 251, 0);
    color: rgba(0, 0, 0, 0.5);
}

nav ul li{
    margin: 10px;
}

#hero{
    height: 800px;
    background-color: aqua;
    background-image: url(../photos/place/ocean\ \(1\).jpg);
    background-position: center;
    background-size: cover;
}

#hero-content{
    background-color: none;
    width: 900px;
    background-color: rgba(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px;
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 250px;
}

#hero-content h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    margin: 0;
}

#hero-content p{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 10px;
}

#hero-content a{
    text-decoration: none;
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

#hero-content a:hover{
    background-color: rgba(255, 255, 0, 0.8);
}

#highlights {
    text-align: center;
    text-transform: uppercase;
    padding: 24px 0px;
    color: #3b4140;
    background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240));;
}

#highlights h2{
    margin: 24px 0;
    font-size: 40px;
}

#Destinations{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    list-style: none;
    margin-bottom: 40px;
    padding: 0;
}

.destination{
    margin: 0 20px;
}

.destination p{
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #7b7b7b;
}

.destination span{
    color: rgb(0, 160, 117);
    font-weight: 600;
}

.destination img{
    height: 200px;
    width: 100%;
    box-shadow: 2px 4px 8px;
    border-radius: 10px;
    object-fit: cover;
}

#footer{
    background-color: #1c1c1c;
    display: flex;
    margin: 0;
    justify-content: center;
}

#footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

#footer li{
    width: 80px;
    height: 80px;
    margin: 45px;
}

#footer img{
    width: 100%;
    height: 100%;
}