*{
    padding: 0;
    margin: 0;
}

.main{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 16px;
    background-color: #f3e9ff;
}

.head-title{
    color: #5832c7;
    font-family: Geneva, Verdana, sans-serif;
    text-align: center;
}

.logo{
    width: 30%;
    height: auto;
    padding: 0% 35%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.paragraph{
    background-color: #7949d8;
    width: 700px;
    color: #fcefff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 30px 25px;
    border-radius: 15px;
}

.paragraph h4{
    margin-top: 15px;
    font-weight: 100;
}

.paragraph h2{
    margin-bottom: 15px;
    margin-top: 15px;
}

.highlight-line{
    color: #fbeab3;
    border-left: #f2d355 solid 4px;
    padding-left: 10px;
}

.highlight-text{
    background-color: #ffefb6;
    color: black;
    padding: 3px 5px;
    border-radius: 4px;
    font-weight: 600;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnDownload {
    margin-top: 15px;
    background-color: #f5ce27;
    border: none;
    border-radius: 4px;
    width: 25%;
    height: 30px;
}

#btnDownload a{
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.footer h6{
    margin-top: 15px;
    text-align: center;
    color: #9586a1;
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: 50;
    margin-bottom: 20px;
}

#btnDownload:hover{
    background-color: rgba(245,206,39,0.6);
}