*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* common */
.clear{
    clear: both;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    padding-left: 8px;
    padding-right: 8px;
    float: left;
}

.col-full{
    width: 100%;
}

.col-third{
    width: 33.333333%;
}

.col-half{
    width: 50%;
}

.text-center{
    text-align: center !important;
}

.font-sansserif{
    font-family: "Lato", sans-serif;
}


/* main */
#nav li{
    position: relative;
}

#nav > li{
    display: inline-block;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    font-family: Verdana, sans-serif;
}

#nav, .subnav{
    list-style: none;
}

#nav>li:hover>a,
#nav .subnav li:hover a{
    color: orangered;
    background-color: beige;
}

#nav>li:hover>.subnav{
    display: block;
}

#nav .subnav{
    top: 100%;
    left: 0;
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#header{
    height: 46px;
    background-color: black;
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    z-index: 1;
}

#content{
    min-height: 2700px;
}

#nav{
    display: inline-block;
}

#nav > li > a{
    color: antiquewhite;
    text-transform: uppercase;
}

#nav .subnav a{
    color: #333;
    padding: 0 30px 0 10px;
}

#header .search{
    float: right;
}

#header .search:hover{
    background-color: #f44336;
    display: block;
    cursor: pointer;
}

#header .search-icon{
    color: white;
    font-size: 14px;
    line-height: 46px;
    padding: 0 24px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    position: relative;
    background: url('/theband/slider/slider1.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slider .text-content{
    position: absolute;
    bottom: 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

#slider .text-heading{
    font-weight: 500;
    font-style: italic;
}
#slider .text-description{
    margin-top: 15px;
    font-weight: 500;
    font-style: italic;
    color: rgba(0,0,0,0.4)
}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
    line-height: 1.5;
}

#content .heading-section{
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 400;
    font-family: "Segoe UI",Arial,sans-serif;
}

#content .sub-heading-section{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-family: "Lato", sans-serif;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.45);
}

#content .about{
    font-family: "Lato", sans-serif;
    display: block;
    margin-top: 15px;
    text-align: justify;
    line-height: 1.5;
}

#content .games-list{
    margin-top: 45px;
    margin-bottom: 45px;

}



#content .games-name{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 600;
    font-style: italic;
}

#content .games-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* hobby-section */

#content .hobby-background-color{
    background-color: #000;
}

#content .hobby-section{
    background-color: black;
    padding: 64px;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    
}

#content .hobby-section .heading-section{
    color: white;
}

#content .hobby-section .sub-heading-section{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 40px;
}

#content .fav-food{
    background-color: beige;
    margin-top: 40px;
}

.fav-food li{
    font-size: 16px;
    padding: 8px 16px; 
    font-family: "Lato", sans-serif;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}


.fav-food .spring-food{
    background-color: #b2f264;
    padding: 2px 4px;
    color: black;
}
.fav-food .summer-food{
    background-color: #ffd414;
    padding: 2px 4px;
    color: black;

}
.fav-food .autumn-food{
    background-color: bisque;
    padding: 2px 4px;
    color: black;

}
.fav-food .winter-food{
    background-color: aquamarine;
    padding: 2px 4px;
    color: black;
}

/* place */
.place-list{
    margin-top: 32px;
    margin-bottom: 48px;
}



.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 50%;
}

.place-body{
    background-color: beige;
    padding: 16px;
    font-size: 15px;
    font-family:"Lato", sans-serif ;
}

.place-day{
    opacity: 0.6;
    margin-top: 15px;
}

.place-description{
    margin-top: 15px;
    line-height: 1.4;   
}

.place-buy-btn{
    color: beige;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

.place-buy-btn:hover{
    color: orangered;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
} 

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: white;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.4s;
}

.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    font-family: "Segoe UI", Arial, sans-serif;
    letter-spacing: 4px;
}
.modal-heading-icon {
    margin-right: 16px;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 12px;
    opacity: 0.8;
}

.modal-close:hover{
    cursor: pointer;
    opacity: 1;
    background-color: #ccc;
    color: orangered;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets{
    background-color: #009688;
    border: none;
    color: white;
    width: 100%;
    font-size: 15px;
    padding: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

#buy-tickets:hover{
    color: orangered;
    background-color: #ccc;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}

.modal-red-close-btn{
    background-color: #f44336;
    border: none;
    display:flex;
    padding: 8px 16px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

.modal-red-close-btn:hover{
    color: orangered;
    background-color: #ccc;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
}

.contact-form .form-submit-btn:hover{
    background-color: #ccc;
    color: #000;
    border: none;
    cursor: pointer;
}

.map-section img{
    width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list{
    font-size: 24px;
}

#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .copyright:hover,
#footer .socials-list a:hover{
    opacity: 0.5;
}

#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6)
}