.m53nhc-nh-child,
.m53nhc-nh-item {
  position: absolute;
  top: 150px;
  left: 2px;
  width: 430px;
}
.m53nhc-nh-child {
  background-color: #58abc3;
  height: 611px;
  opacity: 0.9;
}
.m53nhc-nh-item {
  background-color: var(--color-gainsboro);
  height: 83px;
}
.nhc-nh {
  position: absolute;
  top: 160px;
  left: 72px;
  font-size: 50px;
  font-family: var(--font-montserrat);
  color: #2f96a4;
  display: inline-block;
  width: 286px;
  height: 106px;
  -webkit-text-stroke: 1px #000;
}
.m53nhc-nh-inner,
.rectangle-div {
  position: absolute;
  top: 292px;
  left: 43px;
  background-color: var(--color-gainsboro);
  border: 6px solid var(--color-cadetblue-100);
  box-sizing: border-box;
  width: 342px;
  height: 58px;
}
.rectangle-div {
  top: 485px;
}
.nhc-nh-lch,
.nhc-nh-thi {
  position: absolute;
  top: 307px;
  left: 84px;
  font-family: var(--font-montserrat);
  display: inline-block;
  width: 261px;
  height: 14px;
}
.nhc-nh-thi {
  top: 500px;
  left: 86px;
}
.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #70c7d7;
  border: 3px solid #7481f7;
  box-sizing: border-box;
  width: 144px;
  height: 38px;
}
.quay-li {
  position: absolute;
  top: 5px;
  left: -44px;
  display: inline-block;
  width: 235px;
  height: 14px;
}
.rectangle-parent {
  position: absolute;
  top: 682px;
  left: 153px;
  width: 144px;
  height: 38px;
  cursor: pointer;
}
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 430px;
  height: 83px;
}
.sassistant {
  position: absolute;
  top: 0;
  left: -3px;
  display: inline-block;
  width: 433px;
  height: 259px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.ellipse-div,
.frame-inner {
  position: absolute;
  top: 33px;
  left: 398px;
  border-radius: 50%;
  background-color: var(--color-skyblue-100);
  width: 18px;
  height: 18px;
}
.ellipse-div {
  left: 13px;
}
.rectangle-group {
  position: absolute;
  top: 749px;
  left: 0;
  width: 430px;
  height: 83px;
  cursor: pointer;
  font-size: 70px;
  color: var(--color-deepskyblue-200);
  font-family: var(--font-ingrid-darling);
}
.m53nhc-nh-child1,
.m53nhc-nh-child2 {
  position: absolute;
  top: 173px;
  left: 13px;
  border-radius: 50%;
  background-color: var(--color-skyblue-100);
  width: 18px;
  height: 18px;
}
.m53nhc-nh-child2 {
  left: 398px;
}
.m53nhc-nh-child3,
.m53nhc-nh-child4,
.m53nhc-nh-child5,
.m53nhc-nh-child6 {
  position: absolute;
  top: 378px;
  left: 270px;
  background-color: var(--color-gainsboro);
  border: 2px solid var(--color-mediumblue);
  box-sizing: border-box;
  width: 77px;
  height: 32px;
}
.m53nhc-nh-child4,
.m53nhc-nh-child5,
.m53nhc-nh-child6 {
  top: 569px;
}
.m53nhc-nh-child5,
.m53nhc-nh-child6 {
  top: 567px;
  left: 84px;
}
.m53nhc-nh-child6 {
  top: 380px;
  left: 85px;
}
.bt,
.bt1,
.tt,
.tt1 {
  position: absolute;
  top: 380px;
  left: 272px;
  color: var(--color-deepskyblue-100);
  display: inline-block;
  width: 67px;
  height: 28px;
  -webkit-text-stroke: 1px #000;
}
.bt1,
.tt,
.tt1 {
  top: 569px;
  left: 275px;
  color: var(--color-cadetblue-100);
}
.tt,
.tt1 {
  top: 567px;
  left: 89px;
  color: var(--color-deepskyblue-200);
}
.tt1 {
  top: 380px;
  color: var(--color-deepskyblue-100);
}
.m53nhc-nh {
  position: relative;
  width: 100%;
  height: 932px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-dodgerblue);
  font-family: var(--font-tapestry);
  width: 410px;
  margin: 50px auto;
}
